*{
    margin: 0;
    padding: 0;
  
}

.k{
    margin: 20px;
}

.pf{
    display: flex;
    flex-direction: column;
}

.pf button{
    width: 100px;
    height: 30px;
    background-color: black;
    color: white;
}

.pf input{
    padding: 10px;
}

.pf .box{
    margin-bottom: 10px;
}

.hide{
    display: none;
}

.t{
    display: flex;
    flex-direction: column;
}

.t .box{
    margin-bottom: 10px;
}

.t button{
    width: 100px;
    height: 30px;
    background-color: black;
    color: white;
}

.t input{
    padding: 10px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}
.container div{
    padding: 5px;
    
}
/* item */
.item{
    
    border: 2px solid black;
    border-radius: 10px;
    width: 45%;
    padding: 10px;
}
.item:hover{
    border:5px solid red;
    color: white;
    background-color: black;
}
/* div:hover{
    border:2px solid red;
    color: black;
    background-color: white;
} */
